/.phpunit.cache
/node_modules
node_modules
/public/hot
/public/storage
/storage/*.key
/storage
/.env
# Ignore everything inside /public except /public/vendor
/public/*
!/public/vendor

# Ignore root vendor folder
/vendor
!.gitignore
!.gitattributes

# Allow tracking /public/vendor
!/public/vendor/
